

  input {
    max-width: 8rem;
    margin: 0;
    padding: 0.75rem 0;
    text-align: center;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    border-right: 0;
  }

